div.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
div.inicie{
  width: 30% ;
  display: flex;
  flex-direction: column;
  margin-left:27%;
}
img.imagen_carrito {
    width: 14%;
    border-radius: 51%;
    margin-right: 20%;
}
div.inicie h1{
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  padding-top: 4%;
  font-size: 215%;
    color:#3e403f;
    margin-left: 14%;
}
div.carrito button{
  border: 3px solid #FF6978;
  margin-left:25%;
  background-color: white;
  width: 50%;
  border-radius: 13px 13px;
  text-decoration: none;
}
