body {
  font-family: 'Oswald', monospace;
}

header {
  margin-top: 1%;
  width: 100%;
}
a.nav-link {
  color: white !important;
  font-family: 'Inconsolata', sans-serif;
  font-size: 20px
}
a.navbar-brand{
  font-weight: bold;
  font-family: 'Inconsolata', sans-serif;
  font-size: 30px;

}

button.btn.btn-outline-success{
  color:#F0386B;
border: 1px solid #F0386B;
background-color: white;
font-weight: bold;
}

nav a i {
  color:#FFD0D9 ;
  font-size: 25px;
}
.descripcion {
    display: flex;
    /* float: right; */
    /* margin-right: 5%; */
    justify-content: space-around;
    margin-top: 5%;
}
div.inicio {
  background: rgb(255, 145, 170);
  background: linear-gradient(90deg, rgba(255, 145, 170, 1) 0%, rgba(255, 190, 159, 1) 43%, rgba(255, 250, 145, 1) 100%);
  width: 90%;
  margin: 21px auto;
  height: 192px;
  text-align: center;
  position: relative;
}

div.inicio h1 {
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  padding-top: 4%;
  font-size: 200%;
}

div.inicio h2 {
  font-family: "Inconsolata", sans-serif;
  width: 80%;
  margin: 27px auto;
  font-size: 120%;
}

div.inicio i {
    position: absolute;
    font-size: 31px;
    top: 78%;
    right: 47%;
    color: white;
}

hr {
  border-top: 2px solid #21252966;
  width: 90%;
  margin: 0 auto;
}

div.feria {
  width: 85%;
  margin: 0 auto;
  -webkit-box-shadow: 10px 11px 12px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 10px 11px 12px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 10px 11px 12px 0px rgba(0, 0, 0, 0.32);
  margin-bottom: 5%;
}

div.header-feria {
  background: rgb(255, 250, 145);
  background: linear-gradient(90deg, rgba(255, 250, 145, 1) 0%, rgba(255, 170, 145, 1) 100%);
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

div.header-feria i {
  position: absolute;
  color: white;
  font-size: 50px;
  left: 62%;
  top: 22%;
}

div.header-feria button {
  position: absolute;
  border: 3px solid #FF6978;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 0%;
  left: 42%;
}

div.header-feria h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding-top: 4%;
}

div.header-feria img {
  width: 24%;
  border-radius: 51%;
  position: absolute;
  left: 10%;
  top: 6%;
}

div.cuerpo-feria {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

div.botones {
  display: flex;
  justify-content: space-around;
}

a#dropdownMenuLink.btn {
  background-color: white;
  padding: 8%;
  color: black;
  border: 2px solid black;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
}

div.cuerpo-feria img {
  height: 140px;
  padding-bottom: 1%;
  border-radius: 13px 13px 13px 13px;
}

footer ul li {
  width: 90%;
  list-style: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  background-color: #FF6978;
  color: black;
  margin: 1% auto;
}

footer ul {
  padding-inline-start: 0px;
}
