a.nav-link {
  color: white !important;
  font-family: 'Inconsolata', sans-serif;
  font-size: 20px
}
a.navbar-brand{
  font-weight: bold;
  font-family: 'Inconsolata', sans-serif;
  font-size: 30px;

}

button.btn.btn-outline-success{
  color:#F0386B;
border: 1px solid #F0386B;
background-color: white;
font-weight: bold;
}

nav a i {
  color:#FFD0D9 ;
  font-size: 25px;
}
body{
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: .95;
}
img{
width: 80%;
margin: 0 auto;
display: block;
}
div.datos{
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
  font-weight: bold;
}
div.botones button{
  width: 80%;
padding: 3%;
font-size: 159%;
background-color: white;
font-family: "Oswald", monospace;
margin: 0 auto;
display: block;
}
div.botones i {
  color: #FF6978;
}
@media (min-width: 940px){
main{
  width: 70%;
  margin: 0 auto;

}
img{
  width: 30%;
  margin: 2% auto;
}
div.botones{
  display: flex;
  justify-content:center;
  margin: 0 auto;

}
div.botones button{
margin-top: 5%;
}
}
