body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav a.navbar-brand {
  color: white !important;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

nav button.navbar-toggler {
  color: #FF6978 !important;
}



nav a i {
  color: #FF6978;
  font-size: 45px;
}

h1 {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 6%;
}

div.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  position: relative;
}

#boton {
  border: 1px solid black;
  background-color: black;
  color: white;
  position: absolute;
  left: 26%;
  top: 71%;
  padding: 1%;
  width: 25%;

}


hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #21252966;
}

div.lista ul {
padding-inline-start: 0px;
width: 100%;
}

div.lista ul li {
  font-family: 'Inconsolata', monospace;
  list-style: none;
font-size: 70%;
}

div.lista ul li span {
  font-family: 'Cookie', cursive;
  font-size: 150%;
}

div.lista ul li i {
  font-size: 70%;
}

div.lista button {
  border: 2px solid #F0386B;
  border-radius: 6px 6px;
  font-family: 'Inconsolata', monospace;
  padding: 1%;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3%;
}

div.leyenda {
  font-family: 'Inconsolata', monospace;
background-color: #FFD0D9;
color: black;
width: 55%;
text-align: center;
font-weight: lighter;
transform: rotate(7deg);
padding-top: 4%;
height: 10%;
margin-left: 6%;

}

div.leyenda h2 {
  font-weight: bold;
    font-size: 88%;
}

div.leyenda h3 {
  width: 100%;
    font-size: 70%;
}

div.categorias {
  width: 95%;
}

article.cat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

div.texto button {
  background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 13px 13px;
    letter-spacing: 2px;
    padding: 6%;
    margin-top: 8%;
    margin-left: 17%;
}

div.texto h2 {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin-left: 19%;
  margin-top: 8%;
}

div.texto {
  width: 50%;
}

div.imagen {
  width: 50%;
}
div.imagen img{
  width: 100%;
}
@media (min-width: 940px){
body{
  width: 90%;
  margin: 0 auto;
}
  div.leyenda h2 {
      font-size: 200%;
  }

  div.leyenda h3 {
      font-size: 150%;
  }
div.leyenda{
  margin-left: 0%;
  padding-top: 1%;
  width: 40%;
}

#boton{
  top:60%;
}
div.lista ul li {
font-size: 120%;
margin: -6%;
}

div.lista ul li span {
  font-size: 250%;
}

div.lista ul li i {
  font-size: 120%;
}
div.categorias{
overflow: hidden;
margin: 0 10%;
}
article.cat{
  width: 40%;
  float: left;
}
footer ul li{
  width: 12%;
}

}
